body {
    background-color: #d7caff;
}

h1 {
    text-align: center;
}

.vertical_line_left {
    border-left: 4px solid darkgray;
    height: 98%;
    position: absolute;
    left: 10%;
    /*left: 50%;*/
    /*margin-left: -3px;*/
    top: 10%;
}

.vertical_line_right {
    border-left: 4px solid darkgray;
    height: 98%;
    position: absolute;
    right: 10%;
    top: 10%;
}

.search {
    width: 20%;
    line-height: 25px;
    background-color: bisque;
    display: flow;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;
}

.new_book,
.result-list {
    width: 20%  ;
    background-color: bisque;
    display: flow;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    border: 1px solid black;
    padding: 15px;
    overflow: auto;
    float: inside;
}

.new_book {
    width: fit-content;
}

.result-list {
    width: fit-content;
}

.book-result {
    background-color: #d7caff;
    display: flow;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    border: 1px solid black;
    padding: 15px;
    overflow: hidden;
}

/* Not sure how to do this, this also exists in ./books/new.html */
table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
}

td {
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
}