:root {
    --dark-olive-green: #606c38ff;
    --kombu-green: #283618ff;
    --cornsilk: #fefae0ff;
    --earth-yellow: #dda15eff;
    --liver-dogs: #bc6c25ff;
}


h1,
h2,
p,
label {
    color: var(--dark-olive-green)
}

strong {
    color: var(--kombu-green)
}

input {
    color: var(--kombu-green)
}

a {
    text-decoration: none;
    color: var(--liver-dogs);
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    background: cornsilk;
    display: grid;
    place-items: center;
    font-family: 'PT Serif', serif;
    font-size: xx-large;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

#title {
    display: grid;
    place-items: center;
}

#options {
    font-size: medium;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    padding-bottom: 100px;
    flex: 1 0 auto;
    justify-items: center;
}

#search {
    display: grid;
    grid-template-rows: max-content;
}

#add {
    display: grid;
    grid-template-rows: max-content;
    justify-items: center;
}

#add form table select {
    width: 100%;
}

#add form table input[type="submit"] {
    width: 50%;
}

.footer {
    font-size: small;
    position: absolute;
    bottom: 0;
    height: 4.5rem;
    width: 100%;

    background: var(--earth-yellow);

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    justify-items: center;
}

.footer h3 {
    color: var(--cornsilk);
}

.footer a {
    color: var(--dark-olive-green)
}